.navbar .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-link.active {
    border-bottom: white 2px solid;
    margin-bottom: -1px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgba(255,255,255,.55) !important;
}

.navbar-brand {
    font-size: 30px;
    padding: .25rem;
}

.navbar {
    background-color: #947B66 !important;
}

body {
    background-color: #F7FFFF;
}

.vr {
    
    min-width: 3px !important;
}

@media (max-width:990px) {
    .vr{
        display: none;
    }
}

footer {
    background-color: #947B66;
    color: white;
}

td {
    text-align: center;
}

.contact {
    min-height: 75vh;
    padding: 5vh;
}

.contact_bg {
    background-image: url('/img/annie-spratt-LhhbFKvNHDA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: white;
    text-shadow: 2px 2px black;

}

.contact_bg p {
    font-size: 18px;
}

#margin_form {
    width: 75%;
    margin: 0 auto;
}

/* possible colors
 #26C72F darker green
 #87FBAE lighter green
 #FA6848 salmon
 #947B66 muted brown
 #8C5627 nav bar brown*/


.title {
    display: flex;
    min-height: 50vh;
    background-image: url("../img/thirsty-turf-irrigation-cuZEzaryFjE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.title h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

.title p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

#title_style {
    border: 3px solid white !important;
    opacity: .5 !important;
    border-radius: 5px;
}

#outline {
    box-shadow: -1px 0 0 lightgray;
}

.outline {
    border: white solid 1px;
    border-radius: 10px;
}

    /* Background images */

.snow_title {
    background-image: url('../img/elias-null-YIU-2bifvis-unsplash.jpg');
}

.tree_title{
    background-image: url('../img/treetitle.jpg');
}

.mowing_title{
    background-image: url('../img/s-tsuchiya-1wAmm_d2TDM-unsplash.jpg');
}
 
.patio_title {
    background-image: url('../img/ddp-1NyiWD3iorA-unsplash.jpg');
}

.firepit_title {
    background-image: url('../img/elijah-boisvert-MHcjAxpDeB4-unsplash.jpg');
}

.about {
    background-image: url('../img/stefan-k-3dEejEXQZcg-unsplash.jpg');
    text-align: center;
}

.commitment h3{
    font-size: 30px;
}

.commitment p {
    font-size: 18px;
}
 
.text-shade {
    background-color: rgba(52, 146, 52, 0.5) !important;
}

.round {
    border-radius: 10px;
}

.service-head h2 {
    text-decoration: underline;
}

@media (max-width:770px) {

    #service-card {
        width: 100%;
    }

    #outline {
        box-shadow: none;
    }

    .reverse {
        flex-direction: column-reverse;
    }

}

@media (max-height:815px) {

    .title p {
        font-size: 14px;
    }
}